# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment & secrets
.env

# IDE & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs & temporary files
*.log
cron.log

# Parquet & ML output files
data/HSBC/*.pdf
data/Sacombank/*.pdf
data/Shinhan Bank/*.pdf
data/*.pdf
*.parquet
*.json
*.xlsx

# Testing
.pytest_cache/
.coverage
htmlcov/
